* {
  box-sizing: border-box;
}

.container {
  width: 90vw;
  height: 95vh;
  max-height: 100dvh;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 3.15rem;
  color: white;
  cursor: pointer;
  flex: 1;
  position: relative;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
}

.panel::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: #0005;
}

.title {
  position: absolute;
  inset: 0;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.active {
  flex: 2;
}

.active .title {
  opacity: 1;
}

.panel:nth-child(1) {
  background-image: url("https://picsum.photos/1350/900?category=nature");
}
.panel:nth-child(2) {
  background-image: url("https://picsum.photos/1350/900?category=technology");
}
.panel:nth-child(3) {
  background-image: url("https://picsum.photos/1350/900?category=cities");
}
.panel:nth-child(4) {
  background-image: url("https://picsum.photos/1350/900?category=travel");
}
.panel:nth-child(5) {
  background-image: url("https://picsum.photos/1350/900?category=animals");
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .panel {
    width: 100%;
  }
}
